<%= form_for @employee, remote: true do |f| %>
  <div class="form-group">
    <h4 class="control-label">Datos del empleado:</h4>
  </div>

  <div class="item form-group<%= @employee.errors[:nombre].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :nombre, "Nombre del Empleado: " %>
    <div class="input-group">
      <%= f.text_field :nombre, {:class=> "form-control", :placeholder=>"Introduzca el nombre del empleado..."} %>
      <%if @employee.errors[:nombre].any? %>
        <p class="bg-danger"><%= @employee.errors[:nombre].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @employee.errors[:apellido].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :apellido, "Apellido del Empleado: " %>
    <div class="input-group">
      <%= f.text_field :apellido, {:class=> "form-control", :placeholder=>"Introduzca el apellido del empleado..."} %>
      <%if @employee.errors[:apellido].any? %>
        <p class="bg-danger"><%= @employee.errors[:apellido].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="item form-group<%= @employee.errors[:celular].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :celular, "Celular del empleado: " %>
    <div class="input-group">
      <%= f.text_field :celular, {class: "form-control", :placeholder=>"Introduzca su numero de celular..."} %>
      <%if @employee.errors[:celular].any? %>
        <p class="bg-danger"><%= @employee.errors[:celular].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>

  <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
    <%= f.submit @employee.new_record? ? "Crear Empleado" : "Actualizar Empleado", :class => "btn btn-success"%>
  </div>
<% end %>
