$('#modalEmployees').modal('toggle');
$('#tablaEmployees').append(
    '<tr id="employee_<%= @employee.id %>" ><td><%= @employee.nombre %></td><td><%= @employee.apellido %></td><td><%= @employee.celular %></td><td><%= link_to 'editar', edit_employee_path(@employee), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @employee, remote: true, method: :delete, data: { confirm: "¿Borrar employee: #{@employee.nombre}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);
