<h1 class="h2 mb-2 text-blue-900" style="margin-block: 110px;">Empleados </h1>

<div >
  <%= link_to new_employee_path, {remote: true, class: "btn btn-info", id: "anadir-employee-btn"} do %>
    <span class="fas fa-plus-square"></span>
    <%end%>
</div>

<div class="card shadow mb-4" style="width :80%; margin-left: 140px;">
  <div class="card-body">
    <div class="table-responsive" >
      <table id="tablaEmployees" class="table" width="100%"
        <thead class="table-info">
          <tr class="table-info">
            <th>Nombre Empleado</th>
            <th>Apellido Empleado</th>
            <th>Celular Empleado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% Employee.all.each do |empl| %>
            <tr id="employee_<%= empl.id %>" >
              <td><%= empl.nombre %></td>
              <td><%= empl.apellido %></td>
              <td><%= empl.celular %></td>
              <td>
              <%= link_to "Editar", edit_employee_path(empl), html_options = {class: "btn btn-info btn-xs", remote: true} %>
              <%= link_to 'Borrar', empl, remote: true, method: :delete, data: { confirm: "¿Borrar employee: #{empl.nombre}?"}, class: "btn btn-danger btn-xs" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'modal_employees' %>
