// Add the dialog titlle
$('#modal-employees-title').html("Nuevo empleado");

// Render the new form
$('#modal-body-employees').html('<%= j render("form") %>');

// Show the dynamic dialog
$('#modalEmployees').modal("show");
