<!-- Contact Section Form-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <%= form_for @horario, remote: true do |f| %>
                <!-- Empleado input-->
                    <div class="item form-group<%= @horario.errors[:employee].any? ? ' has-error has-feedback' : '' %>">
                        <%= f.label :employee, "Empleado: " %>
                            <div class="input-group">
                                <%= collection_select(:horario, :employees_id, @employees, :id, :id, {:prompt => 'Seleccione empleado'}, { class: "form-control" })%>
                                    <%if @horario.errors[:employee].any? %>
                            <p class="bg-danger"><%= @horario.errors[:employee].to_s[/\w([^"]*)/] %></p>
                        <% end %>
                    </div>

                <!-- IngresoSalida input-->
                    <br>
                    <div class="item form-group<%= @horario.errors[:estado].any? ? ' has-error has-feedback' : '' %>">
                        <%= f.label :estado, "Entrada o Salida: " %>
                            <div class="input-group" >
                                <%= f.select :estado, {:""=> "" , :Entrada=> "Entrada", :Salida=>"Salida"}%> 
                                    <%if @horario.errors[:estado].any? %>
                                <p class="bg-danger"><%= @horario.errors[:estado].to_s[/\w([^"]*)/] %></p>
                        <% end %>
                    </div>

                <!-- Hora input-->
                    <br>
                    <div class="item form-group<%= @horario.errors[:hora].any? ? ' has-error has-feedback' : '' %>">
                        <%= f.label :hora, "Ingrese fecha: " %>
                            <div class="input-group">
                                <%= f.datetime_field :hora, {:class=> "form-control", :placeholder=>"Ingrese fecha..."} %>        
                                    <%if @horario.errors[:hora].any? %>
                                <p class="bg-danger"><%= @horario.errors[:hora].to_s[/\w([^"]*)/] %></p>
                        <% end %>
                    </div>
                    

                </div>
                <br>
                <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <%= f.submit @horario.new_record? ? "Registrar Horario" : "Actualizar Horario", :class => "btn btn-success"%>
                </div> 
            <% end %>
                        
        </div>
    </div>
    



