$('#modalHorarios').modal('toggle');
$('#tablaHorarios').append(
    '<tr id="horario_<%= @horario.id %>" > <td><%= @horario.hora %></td><td><%= @horario.estado %></td> <td><%= @horario.employee != nil ? @product.employee.nombre : "No tiene empleado" %></td>'
);