<br><br><br><br><br>
<h1 class="h3 mb-2 text-gray-800">Horarios</h1>
<div>  
                        <%= link_to new_horario_path, { remote: true, class: "btn btn-info" }  do %>
                            <span class="fas fa-plus-square" ></span>
                        <% end %>
                    </div>
<br />
<div class="card shadow mb-4">
<div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered" id="tablaHorarios" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Empleado</th>
        </tr>
        </thead>
        <tbody>
            <% @horarios.each do |hor| %>
            <tr id="horario_<%= hor.id %>" >
                <td><%= hor.hora %></td>
                <td><%= hor.estado %></td>
                <td><%= hor.employee != nil ? hor.employee.nombre : "No tiene empleado" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
<%= render 'modal_horarios' %>