<br><br><br><br>

<!-- Contact Section-->
<section class="page-section" id="sistema">
    <div class="container">
        <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sistema de Ingreso y Salida</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <h1 class="h3 mb-2 text-gray-800">Ingrese su registro de horario</h1>
                    <div>  
                        <%= link_to new_horario_path, { remote: true, class: "btn btn-info" }  do %>
                            <span class="fas fa-plus-square" ></span>
                        <% end %>
                    </div>
                </div>
            </div>
    </div>
</section>

<%= render 'modal_horarios' %>