<h1><br></h1>
<!-- Contact Section-->
        <section class="page-section" id="sistema">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Sistema de Ingreso y Salida</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <label for="name">Ingrese su ID</label> 
                            <div class="form-floating mb-3">
                                
                                <input class="form-control" id="name" type="text" data-sb-validations="required" />
                                
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>

                            <!-- Date number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="date" type="date" />
                                <div class="input-group date">
                                
                            </div>
                            <!-- IngresoSalida input-->
                            <div class="form-floating mb-3">
                              <br>
                              <select id="inputState" class="form-select">
                                <option></option>
                                <option>Ingreso...</option>
                                <option>Salida...</option>
                              </select>
                            </div>

                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
