
<!DOCTYPE html>
<html>

<head>
  <title>Geosatelital</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
  <link rel="stylesheet" media="all" href="/assets/login.self-6c207500cddcaec560d3ea3471d3bf8d5af9de1ec297367e0d9167861ab6694d.css?body=1" data-turbolinks-track="reload" />
  
  </head>
<!--Coded with love by Mutiullah Samim-->
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">

        <%= yield %>

			</div>
		</div>
	</div>
</body>
</html>
